{% extends 'app.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Administrator Panel {% endblock %}

{% block css-header %}
<style>
    body {
        background-color: rgb(255, 255, 255);
    }

    tr:hover {
        font-weight: 500;
        color: rgb(14, 22, 56);

    }
</style>
{% endblock %}

{% block content %}

<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2 mb-2">
    <ol class="breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item fw-bold">
            <a class="link-fx text-primary" href="{% url 'index.administrator.panel' %}">Administrator Panel</a>
        </li>
        <li class="breadcrumb-item fw-bold" aria-current="page">
            Testes Pipefy
        </li>
    </ol>
</div>

<div class="col-lg-6 col-xl-6">
    <table class="table table-sm table-hover fs-xs">
        <thead> 
            <th class="fs-xs text-left" style="width: 45%;">Pipe/Database</th>
            <th class="fs-xs text-left" style="width: 30%;">Last Test</th>
            <th class="fs-xs text-left" style="width: 20%;">Actions</th>
        </thead>
    {%for pipe in pipes%}
        <tr class="fs-xs">
            <td class="text-left">{{pipe.nome}}</td>
            <td class="text-left">{{pipe.last_test}}</td>
            <td class="text-left">
                <a class="btn btn-success fs-xs m-0 py-0 shadow-none fw-normal" href="{{ pipe.url }}">Run Test</a>
            </td>
        </tr>
    {%endfor%}
    </table>
</div>


{% endblock %}