*{
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}
.sectionform *:not(sub,svg,sup, .panel .card-title, h1, h2, h3, h4), .conteudo .info *:not(sub,sup),
.conteudo .row *:not(sub,svg,sup, h1, h2, h3, h4, .badge), .col *:not(sub, sup){
  font-size: 12px;
}

.modal-content span, .modal-content label, .modal-content input, .modal-content button, 
.conteudo .nav-tabs li button, .conteudo .tab-content, table svg, label{
  font-size: 12px;
}
a *{
  cursor: pointer;
}
select{
  font-size: 12px !important;
}
input[type="checkbox"]{
  margin-right: 0.2rem;
}
.form-check-label {
  line-height: 1.1rem;
}
.modal{
  padding-left: 0px !important;
}
.error-msg{
  font-size: 10px !important;
}
.card *:not(select){
  font-size: 0.75rem;
}
.hover-card {
    transition: transform 0.2s, box-shadow 0.2s;
}
.hover-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 8px rgba(136, 136, 136, 0.2) !important;
}
select:focus{
  box-shadow: none !important;
  border-color: #c4c4c4 !important;
}
.breadcrumb{
  font-size: 14px !important;
}
.card a{
  color: gray;
}

a:hover{
  text-decoration: none !important;
}

textarea:focus, input:focus{
  outline: none !important;
  box-shadow: none !important;
}

@media (min-width: 578px){
  .gap{
    cursor: pointer;
  }

  .google-maps, .google-maps-l{
    height: 50vh !important;
  } 

  .google-maps-l{
    height: 66vh !important;
  } 

  .google-maps-s{
    height: 45vh !important;
  } 

  .info-ponto{
    height: '100%'; width: '28%'; font-size: '12px';
  }
}

@media (max-width: 578px){
  .google-maps, .google-maps-l, .google-maps-s{
    flex-direction: column-reverse;
    height: 100vh !important;
  }
  .google-maps-s{
    flex-direction: column-reverse;
    height: 50vh !important;
  }  
  .info-ponto{
    height: 50%; font-size: '12px'; 
    margin-top: 4px !important; margin-right: 0px !important;
  }
}

.rounded-start {
  border-radius: 3px !important;
}

.navbar-vertical .navbar-nav .nav .nav-item .dropdown-indicator{
  padding: 0.2rem 0.2rem 0.2rem 1.95rem !important;
}

.table-responsive{
  font-size: 12px;
}
.table-responsive tbody tr:hover {
  cursor: pointer;
}

.hover-table-light:hover{
  background-color: rgb(235, 235, 235) !important;
}

.hover-table-dark:hover{
  background-color: rgb(31, 39, 51) !important;
}

.google-maps button, .google-maps-l button, .google-maps-s button{
  background-color: white !important;
}

.gm-style-iw-c{
  background: white !important;
}

.table > :not(caption) > * > *{
  padding: 0.2rem 0.5rem !important;
}

.dropdown-menu{
  width: 17rem;
}

.msg-lg{
  font-size: 13px !important;
}

.notification-indicator::before {
  height: 0.7rem !important;
  width: 0.7rem !important;
}

@media (min-width: 576px){
  .dropdown-menu-notification {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

.tooltip{
  position: fixed; 
  font-size: 10px !important; 
  padding: 2px !important
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: inherit !important; 
}
.accordion-button {
  padding: 0.3rem 0.4rem !important;
  padding-right: 0.5rem !important;
}
.disabled{
  pointer-events: none !important;
  height: auto !important;
}

.disabled .accordion-button::after {
  visibility: hidden !important;
}
.info-pipe{
  width: 95%;
  border: 1px solid #cfe0ed;
  border-radius: 5px;
  border-width: 1px 1px 1px 4px;
}
.info-pipe-dark{
  border-color: #3d4658;
}
.modal-editar{
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-radius: 20px;
}
.modal-editar:hover{
  opacity: 0.7;
}
.hover-children:hover .modal-editar{
  opacity: 0.7;
}
.card-link-success-light {
  background-color: rgba(192, 255, 217, 0.7) !important
}
.card-link-success-light:hover {
  background-color: rgba(165, 255, 201, 0.7) !important
}
.card-link-success-dark {
  background-color: rgb(21, 98, 70, 0.8)  !important
}
.card-link-success-dark:hover {
  background-color: rgb(29, 106, 78, 1) !important
}
.modal-custom{
  height: 98vh; 
  max-height: 98vh;
  overflow:hidden;
  border-end-end-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
}
.modal-column-scroll{
  height: 94vh;
  margin-bottom: 1rem;
}

@media (max-width: 992px){
  .modal-custom{
    height: auto;
  }
  .actionscard{
    height: 20vh !important;
  }
  .modal-column-scroll{
    height: auto;
    max-height: 38vh;
  }
}

.expandable-card .detailed-info {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out !important;
}

.expandable-card.expanded .detailed-info {
  max-height: 800px; /* Ajuste conforme necessário */
}

.dropzone-area {
  transition: background-color 0.3s, border-color 0.3s;
}

.dropzone-active {
  background-color: #007bff80 !important;
  border-color: transparent !important;
}
.fixed-footer {
  position: sticky;
  bottom: 0;
  padding: 10px;
  z-index: 500;
}
button.gm-ui-hover-effect{
  height: 20px !important;
  width: 25px !important;
  margin-right: 5px !important;
  margin-top: 2px !important;
}
.modal-delete-card{
  background-color: rgba(100, 100, 100, 0.1);
}