*{
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}
.sectionform *:not(sub,svg,sup, .panel .card-title, h1, h2, h3, h4), .conteudo .info *:not(sub,sup),
.conteudo .row *:not(sub,svg,sup, h1, h2, h3, h4, .badge), .col *{
  font-size: 12px;
}

.modal-content span, .modal-content label, .modal-content input, .modal-content button, 
.conteudo .nav-tabs li button, .conteudo .tab-content, table svg, label{
  font-size: 12px;
}
select{
  font-size: 12px !important;
}
.card *:not(select){
  font-size: 0.75rem;
}
.hover-card {
    transition: transform 0.2s, box-shadow 0.2s;
}
.hover-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 8px rgba(136, 136, 136, 0.2) !important;
}
select:focus{
  box-shadow: none !important;
  border-color: #c4c4c4 !important;
}
.breadcrumb{
  font-size: 14px !important;
}
.card a{
  color: gray;
}

a:hover{
  text-decoration: none !important;
}

textarea:focus, input:focus{
  outline: none !important;
  box-shadow: none !important;
  border-color: #c4c4c4 !important;
}

@media (min-width: 578px){
  .gap{
    cursor: pointer;
  }

  .google-maps, .google-maps-l{
    height: 50vh !important;
  } 

  .google-maps-l{
    height: 66vh !important;
  } 

  .google-maps-s{
    height: 45vh !important;
  } 

  .info-ponto{
    height: '100%'; width: '28%'; font-size: '12px';
  }
}

@media (max-width: 578px){
  .google-maps, .google-maps-l, .google-maps-s{
    flex-direction: column-reverse;
    height: 100vh !important;
  }
  .google-maps-s{
    flex-direction: column-reverse;
    height: 50vh !important;
  }  
  .container-map{
    width: 100% !important;
    display: block !important;
    height: 40vh !important;
    margin-bottom: 10px;
  }
  .info-ponto{
    height: 50%; font-size: '12px'; 
    margin-top: 4px !important; margin-right: 0px !important;
  }
}
.container-map{
  width: 100%;
  height: 100%;
}

.rounded-start {
  border-radius: 3px !important;
}

.navbar-vertical .navbar-nav .nav .nav-item .dropdown-indicator{
  padding: 0.2rem 0.2rem 0.2rem 1.95rem !important;
}

.table-responsive{
  font-size: 12px;
}
.table-responsive tbody tr:hover {
  cursor: pointer;
}

.hover-table-light:hover{
  background-color: rgb(235, 235, 235) !important;
}

.hover-table-dark:hover{
  background-color: rgb(31, 39, 51) !important;
}

.google-maps button, .google-maps-l button, .google-maps-s button{
  background-color: white !important;
}

.gm-style-iw-c{
  background: white !important;
}

.table > :not(caption) > * > *{
  padding: 0.2rem 0.5rem !important;
}

.dropdown-menu{
  width: 17rem;
}

.msg-lg{
  font-size: 13px !important;
}

.notification-indicator::before {
  height: 0.7rem !important;
  width: 0.7rem !important;
}

@media (min-width: 576px){
  .dropdown-menu-notification {
    min-width: 100% !important;
    max-width: 100% !important;
}
}

.tooltip{
  position: fixed; 
  font-size: 10px !important; 
  padding: 2px !important
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: inherit !important; 
}
.accordion-button {
  padding: 0.3rem 0.4rem !important;
  padding-right: 0.5rem !important;
}
.disabled{
  pointer-events: none !important;
  height: auto !important;
}

.disabled .accordion-button::after {
  visibility: hidden !important;
}